<app-basic-bar></app-basic-bar>

<h1 class="display-3 text-center m-4 title">My Items</h1>

<button class="btn btn-primary new" routerLink="/new-product">New</button>

<div *ngIf="myProducts == ''" class="alert alert-primary card_alert" role="alert">
  <i class="fa-solid fa-circle-info"></i>
  <div class="m-2">
    There are no products yet. Publish your first article!
  </div>
</div>

<div *ngIf="!myProducts" class="d-flex align-items-center spin">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<div class="container_cards" *ngIf="myProducts">
    <div class="product_card" *ngFor="let product of myProducts">
      <div class="front_page">
        <img *ngIf="product.front_url" src="http://127.0.0.1:8000/images/products/{{product.front_url}}" class="img-fluid rounded-start picture" alt="{{product.name}}">
        <img *ngIf="!product.front_url" src="../assets/sinimagen.jpg" class="img-fluid rounded-start picture" alt="{{product.name}}">
      </div>
      <div class="info_actions">
        <div class="info">
          <p class="card-title title_card">{{ product.name }}</p>
          <p class="card-text text text_description">{{ product.description }}</p>
          <p class="card-text text-muted text">{{product.price | currency}}</p>
        </div>
        <div class="buttons">
          <a [routerLink]="['/edit-product', product.id]" class="btn btn-warning"><i class="fa-solid fa-pen"></i></a>
          <button class="btn btn-danger" (click)="showModal(product.id)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
  </div>

  <div class="modal window" tabindex="-1" *ngIf="modalIsShow">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove article</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalIsShow = false"></button>
        </div>
        <div class="modal-body">
          <p>Do you really want to remove this item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalIsShow = false">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
