<app-basic-bar></app-basic-bar>

<div class="form_container">
    <h1 class="display-3 text-center m-4 title">New Item</h1>

    <div *ngIf="isSending" class="d-flex align-items-center spin">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>

    <form class="form" *ngIf="product" enctype="multipart/form-data">
        <div class="row">
            <div class="column">
                <label for="name" class="fs-5 fw-bold">Name</label>
                <input type="text" class="input" placeholder="Name" name="name" [(ngModel)]="product.name" (click)="isError = false">
                <p *ngIf="errors && errors.name && isError" class="text-danger">* {{errors.name}}</p>
            </div>
            <div class="column">
                <label for="price" class="fs-5 fw-bold">Price</label>
                <input type="number" class="input" placeholder="Price" name="price"
                [(ngModel)]="product.price" (click)="isError = false">
                <p *ngIf="errors && errors.price && isError" class="text-danger">* {{errors.price}}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="category" class="fs-5 fw-bold">Category</label>
                <select name="category" class="category_input form-control" [(ngModel)]="product.category" (click)="isError = false">
                    <option value="" selected>Select a category</option>
                    <option value="Celulares">Celulares</option>
                    <option value="Computadoras">Computadoras</option>
                    <option value="Memorias">Memorias</option>
                    <option value="Perifericos">Perifericos</option>
                    <option value="Audifonos">Audifonos</option>
                    <option value="Bocinas">Bocinas</option>
                </select>
            </div>
            <div class="column">
                <label for="profile_url" class="fs-5 fw-bold">Profile Photo</label>
                <input type="file" class="form-control file_input" name="profile_url" [(ngModel)]="product.front_url"
                    accept=".jpg, .png, jpge" (change)="file($event)">
                <p *ngIf="errors && errors.front_url && isError" class="text-danger">* {{errors.front_url}}</p>
            </div>
        </div>
        <div class="row">
        <div class="column des_input">
            <label for="description" class="fs-5 fw-bold">Description</label>
            <textarea class="form-control text_area" name="description" id="description" cols="30" rows="10" [(ngModel)]="product.description" (click)="isError = false"></textarea>
            <p *ngIf="errors && errors.description && isError" class="text-danger">* {{errors.description}}</p>
          </div>
        </div>
        <button type="submit" class="input btn btn-success" (click)="setNewProduct()">Save</button>
    </form>
