<app-bar-look (data)="getMessage($event)"></app-bar-look>

<h1 class="display-3 text-center m-4 title">Items for sale</h1>


<div *ngIf="products == ''" class="alert alert-primary card_alert" role="alert">
  <i class="fa-solid fa-circle-info"></i>
  <div class="m-2">
    No product found. Try later!
  </div>
</div>

<div *ngIf="!products" class="d-flex align-items-center spin">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<div class="container_cards" *ngIf="products">  
<div class="product_card" *ngFor="let product of products">
  <div class="front_page">
    <img *ngIf="product.front_url" src="http://127.0.0.1:8000/images/products/{{product.front_url}}" class="img-fluid rounded-start picture" alt="{{product.name}}">
    <img *ngIf="!product.front_url" src="../assets/sinimagen.jpg" class="img-fluid rounded-start picture" alt="{{product.name}}">
  </div>
  <div class="info_actions">
    <div class="info">
      <p class="card-title title_card">{{ product.name }}</p>
      <p class="card-text text text_description">{{ product.description }}</p>
      <p class="card-text text-muted text">{{product.price | currency}}</p>
    </div>
    <div class="buttons">
      <a [routerLink]="['/show-product', product.id]" class="btn btn-primary"><i class="fa-solid fa-info"></i></a>
    </div>
  </div>
</div>
</div>
  
