.title{
    color: #273746;
}

.container_cards{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product_card{
    margin: 30px;
    width: 40%;
    max-width: 600px;
    height: auto;   
    display: flex;
    border-radius: 10px;
    /* background-color: #273746; */
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: #273746;
}

.front_page{
    width: 210px;
    height: 210px;
    border-radius: 10px;
}

.info_actions{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    margin: 10px;
}

.title_card{
    font-size: 1.5rem;
}

.buttons{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   margin: 10px;
}

.picture{
    width: 100%;
    height: 100%;
}

.text_description, .title_card{
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 1300px) {
    .buttons{
        width: 90%;
    }
}

@media screen and (max-width: 940px) {
    .container_cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product_card{
        margin: 0;
        margin-bottom: 30px;
        width: 95%;
    }

    .info_actions{
        width: 62%;
    }

    .buttons{
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    /* .product_card{
        height: 180px;
    } */

    .front_page{
        width: 180px;
        height: 180px;
        border-radius: 10px;
    }

    .info_actions{
        width: 66%;
    }

    .buttons{
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .info_actions{
        width: 55%;
    }

    .front_page{
        width: 40%;
        height: 210px;
        border-radius: 10px;
    }
    
}
