<h1 class="display-2 text-center m-4 user_name" *ngIf="user">{{user.name}}</h1>
<div class="container_main">
    <div class="user_card" *ngIf="user">
        <div class="profile">
            <div>
                <i class="fa-solid fa-user icon"></i>
            </div>
        </div>
        <p class="fst-italic fs-5 text-center user_email">{{user.email}}</p>
        <div class="info">
            <div class="user_info">
                <p class="fw-bold fs-5 text-center text description">{{user.description}}</p>
                <p class="fw-bold fs-5 text-center text description">{{user.date_birth}}</p>
            </div>
            <div class="action">
                <button class="btn btn-warning" (click)="showForm()"><i class="fa-solid fa-user-pen"></i></button>
                <button class="btn btn-danger" (click)="deleteUser()"><i class="fa-solid fa-user-slash"></i></button>
            </div>
        </div>
        <form class="form" *ngIf="userIsEdit" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="column">
                    <label for="name" class="fs-5 fw-bold">Name</label>
                    <input type="text" class="input" placeholder="Name" name="name" [(ngModel)]="userForUpdate.name">
                </div>
                <div class="column">
                    <label for="surnames" class="fs-5 fw-bold">Surnames</label>
                    <input type="text" class="input" placeholder="Surnames" name="surnames" [(ngModel)]="userForUpdate.surnames">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="description" class="fs-5 fw-bold">Description</label>
                    <input type="text" class="input" placeholder="Description" name="description"
                        [(ngModel)]="userForUpdate.description" autocomplete="off">
                </div>
                <div class="column">
                    <label for="date_birth" class="fs-5 fw-bold">Brith</label>
                    <input type="date" class="input" placeholder="Date of Birth" name="date_birth"
                        [(ngModel)]="userForUpdate.date_birth">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="name" class="fs-5 fw-bold">Password</label>
                    <input type="password" class="input" placeholder="Password" name="password"
                        [(ngModel)]="userForUpdate.password">
                </div>
                <div class="column">
                    <label for="profile_url" class="fs-5 fw-bold">Profile Photo</label>
                    <input type="file" class="file_input" name="profile_url"
                        [(ngModel)]="userForUpdate.profile_url" accept=".jpg, .png, jpge" (change)="file($event)">
                </div>
            </div>
            <button type="submit" class="input btn btn-warning" (click)="updateUser()">Update</button>
            <!-- <button class="input btn btn-warning" (click)="show()">Update</button> -->
        </form>
    </div>
</div>