<app-basic-bar></app-basic-bar>

<h1 class="display-3 text-center m-4 user_name" *ngIf="user">
    {{ userForUpdate.name }} {{ userForUpdate.surnames }}
</h1>

<div *ngIf="isSending" class="d-flex align-items-center spin">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<div class="container_main">
    <div class="modal window" tabindex="-1" *ngIf="modalIsShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Acount</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="modalIsShow = false"></button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to remove your acount?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="modalIsShow = false">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteUser()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="user_card" *ngIf="user">
        <div class="profile">
            <img *ngIf="user.profile_url && !photoForUpdate" src="http://127.0.0.1:8000/images/users/{{ user.profile_url }}"
                alt="{{ user.name }}" class="user_img" />
            <div *ngIf="!user.profile_url && !photoForUpdate">
                <i class="fa-solid fa-user icon"></i>
            </div>
            <div *ngIf="photoForUpdate">
                <img src="{{photoForPreview}}"
                alt="{{ user.name }}" class="user_img" />
            </div>
        </div>
        <p class="fst-italic fs-5 text-center user_email">
            {{ user.email }} <i class="fa-solid fa-envelope"></i>
        </p>
        <div class="info">
            <div class="user_info">
                <p class="text text_description" *ngIf="user.description != 'null'">
                    {{ userForUpdate.description }}
                </p>
                <p class="text birth" *ngIf="user.date_birth != 'null' && user.date_birth">
                    {{ userForUpdate.date_birth }}
                </p>
            </div>
            <div class="action">
                <button class="btn btn-warning" (click)="showForm()">
                    <i class="fa-solid fa-user-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="modalIsShow = true">
                    <i class="fa-solid fa-user-slash"></i>
                </button>
            </div>
        </div>
        <form class="form" *ngIf="userIsEdit" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="column">
                    <label for="name" class="fs-5 fw-bold">Name</label>
                    <input type="text" class="input" placeholder="Name" name="name" [(ngModel)]="userForUpdate.name" (click)="isError = false"/>
                    <p *ngIf="errors && errors.name && isError" class="text-danger">* {{errors.name}}</p>
                </div>
                <div class="column">
                    <label for="surnames" class="fs-5 fw-bold">Surnames</label>
                    <input type="text" class="input" placeholder="Surnames" name="surnames"
                        [(ngModel)]="userForUpdate.surnames" (click)="isError = false" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="name" class="fs-5 fw-bold">Password</label>
                    <input type="password" class="input" placeholder="Password" name="password"
                        [(ngModel)]="userForUpdate.password" (click)="isError = false" />
                        <p *ngIf="errors && errors.password && isError" class="text-danger">* {{errors.password}}</p>
                </div>
                <div class="column">
                    <label for="date_birth" class="fs-5 fw-bold">Brith</label>
                    <input type="date" class="input" placeholder="Date of Birth" name="date_birth"
                        [(ngModel)]="userForUpdate.date_birth" (click)="isError = false" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="description" class="fs-5 fw-bold">Description</label>
                    <textarea class="text_area" name="description" id="description" cols="30" rows="10"
                        [(ngModel)]="userForUpdate.description" (click)="isError = false"></textarea>
                </div>
                <div class="column">
                    <label for="profile_url" class="fs-5 fw-bold">Profile Photo</label>
                    <input type="file" class="form-control file_input" name="profile_url" [(ngModel)]="userForUpdate.profile_url"
                        accept=".jpg, .png, jpge" (change)="file($event)"/>
                        <p *ngIf="errors && errors.profile_url && isError" class="text-danger">* {{errors.profile_url}}</p>
                </div>
            </div>
            <button type="submit" class="input btn btn-warning button" (click)="updateUser()">
                Update
            </button>
        </form>
    </div>
</div>