<router-outlet></router-outlet>

<!-- Pie -->
<footer>
    <!-- Contenedor de Pie -->
    <section class="footer__container">
      <!-- Contenido de Pie -->
      <article class="footer_contenido">
        <!-- Subtitulo -->
        <h2 class="nombre_empresa">TECNO STORE</h2>
        <!-- Contenedor de Ubicacion y Descripcion -->
        <div class="ubicacion_descripcion">
          <!-- Logo -->
          <div class="caneLogo">
            <i class="fa-solid fa-microchip iconTS"></i>
            <!-- <img src="../assets/images/logocane.png" alt="TheCanePhotographic" class="iCaneLogo"> -->
          </div>
          <!-- Descripcion -->
          <div class="descripcion width">
            <p class="textoDescripcion margenTexto">Technology store in Santo Domingo - Dominican Republic. Committed to technology.</p>
          </div>
          <!-- Ubicacion -->
          <div>
          <div class="ubicacion width">
            <p class="textoUbicacion"><i class="fa-solid fa-location-pin"></i> <span class="spanUbicacion"> Santo Domingo</span></p>
            <p class="textoUbicacion"><i class="fa-solid fa-phone"></i> <a class="link_contact" href="tel:+18093133294"> 809 313-3294</a></p>
            <p class="textoUbicacion"><i class="fa-solid fa-envelope"></i> <a class="link_contact" href="mailto:josecamachoc0303@gmail.com"> josecamachoc0303@gmail.com</a></p>
          </div>
        </div>
        <!-- Derechos de Autor -->
        <article class="derechos">
            <p class="textoDerechos margenTexto">© 2022 TECNO STORE. All rights reserved.</p>
        </article>
      </div>
    </article>
    </section>
  </footer>